@import "../variables";

.navbar {
  background-color: $background;
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
  .navbar-hero {
    display: flex;
    align-items: center;
    .navbar-title {
      text-decoration: none;
      font-size: 1em;
      font-weight: 600;
      color: white;
      transition: 0.2s ease-in;
      &:hover {
        cursor: pointer;
        color: $karoRed;
      }
    }
    .navbar-image {
      height: 2em;
      padding-right: 0.5em;
    }
  }
  .navbar-navitems-container {
    opacity: 0;
    pointer-events: none;
    height: 0;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in all;
  }
  .navbar-navitems-container-display {
    transition: 0.2s ease-in all;
    opacity: 1;
    display: flex;
    flex-direction: column;
    height: 8em;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-right: 0em;
  }
}
