@import "../variables";
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 20em;
  margin: 0 6em;
  margin-top: 15em;
  background-color: $background;
  .form-label {
    padding-left: 0.5em;
    font-size: 1.3em;
  }
  .form-control {
    margin-left: 0.5em;
    background-color: $background;
    font-size: 1.3em;
    color: white;
    border: none;
    border-bottom: 0.5px solid white;
    margin-bottom: 1em;
    transition: 0.2s ease-in-out;
    &:hover {
      border-color: $karoRed;
    }
    &:focus {
      outline: none;
      border-color: $karoRed;
    }
  }
  .form-textarea {
    margin-left: 0.5em;
    background-color: $background;
    font-size: 1.3em;
    color: white;
    height: 1.5em;
    border: none;
    border-bottom: 0.5px solid white;
    margin-bottom: 2em;
    transition: 0.2s ease-in-out;
    &:hover {
      border-color: $karoRed;
    }
    &:focus {
      outline: none;
    }
  }
  .form-button {
    font-size: 1.3em;
    color: white;
    background-color: $background;
    border: none;
    transition: 0.5s ease-in-out;
    align-self: center;
    &:hover {
      color: $karoRed;
      transform: scale(1.5);
    }
  }
}

@media (min-width: 768px) {
  .contact {
    margin: 0 15.5em;
    margin-top: 15em;
  }
}

@media (min-width: 1024px) {
  .contact {
    margin: 0 23em;
    margin-top: 15em;
  }
}

@media (min-width: 1440px) {
  .contact {
    margin: 0 36.5em;
    margin-top: 15em;
  }
}

@media (min-width: 1920px) {
  .contact {
    margin: 0 51em;
    margin-top: 15em;
  }
}
