@import "../variables";

.counter {
  display: flex;
  flex-direction: column;
  height: 45em;
  margin: 5em 4em;
  .flash-message {
    transition: 0.2s ease-in;
    background-color: $karoRed;
    align-self: center;
    padding: 0.5em 2em;
    animation: fadeOut 3s ease-in-out;
  }
  .win-message {
    transition: 0.2s ease-in;
    background-color: #528616;
    align-self: center;
    padding: 0.5em 2em;
    animation: fadeOut 3s ease-in-out;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  .team-btns {
    .first-team-btn {
      cursor: pointer;
      border: 0.5px solid $background;
      border-right: none;
      background-color: $background;
      font-size: 1.5em;
      color: white;
      transition: 0.2s ease-in;
      &:hover {
        transform: scale(1.02);
        color: $karoRed;
      }
    }
    .second-team-btn {
      cursor: pointer;
      border: 0.5px solid $background;
      border-left: none;
      background-color: $background;
      font-size: 1.5em;
      color: white;
      &:hover {
        transform: scale(1.02);
        color: $karoRed;
      }
    }
    .active {
      cursor: pointer;
      border: 0.5px solid $background;
      background-color: $background;
      font-size: 1.5em;
      color: $karoRed;
      &:hover {
        transform: scale(1.02);
        color: white;
      }
    }
  }
  .board {
    background-color: $background;
    height: 45em;
    display: grid;
    grid-template-columns: 15em 10em;
    .options {
      .team-name {
        font-size: 1.4em;
      }
      .choose-color {
        .color {
          font-size: 1.4em;
        }
        .colors {
          .heart,
          .karo {
            font-size: 2.5em;
            color: $karoRed;
            transition: 0.2s ease-in;
            &:hover {
              font-size: 2.9em;
            }
          }
          .spade,
          .club {
            font-size: 2.5em;
            transition: 0.2s ease-in;
            &:hover {
              font-size: 2.9em;
            }
          }
        }
      }
      .write-score {
        margin-top: 0.5em;
        display: flex;
        flex-direction: column;
        font-size: 1.4em;
        .input {
          margin-top: 0.5em;
          margin-left: 0.5em;
          margin-right: 2em;
          font-size: 1.2em;
          background-color: $background;
          border: none;
          color: white;
          border-bottom: 2px solid $karoRed;
          transition: 0.2s ease-in;
          &:hover {
            transform: scale(1.1);
          }
          &:focus {
            transform: scale(1.1);
            outline: none;
          }
        }
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
          display: none;
        }
        .write-score-btn {
          align-self: center;
          margin-right: 1.3em;
          margin-top: 1em;
          padding: 0.2em 1em;
          font-size: 1.2em;
          background-color: $background;
          border: 0.5px solid white;
          color: white;
          transition: 0.2s ease-in;
          &:hover {
            border-color: $karoRed;
            color: $karoRed;
            transform: scale(1.2);
          }
        }
        .callings-button {
          background-color: $background;
          border: 0.5px solid white;
          color: white;
          font-size: 1.1em;
          transition: 0.2s ease-in;
          margin: 0 0.8em;
          &:hover {
            border-color: $karoRed;
            color: $karoRed;
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .score {
    margin-top: 1em;
    font-size: 1.2em;
    max-height: 32em;
    overflow: scroll;
    padding-left: 0.2em;
    font-size: 1.4em;
    .games {
      .delete-calling-btn {
        color: $karoRed;
        margin-left: 1em;
        font-size: 1em;
        border: 1.5px solid $karoRed;
        background-color: $background;
        transition: 0.2s ease-in;
        &:hover {
          background-color: white;
        }
      }
    }
  }
  .score::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 320px) {
  .counter {
    padding: 0;
    margin: 1em 0em;
    .flash-message {
      width: 15em;
    }
    .win-message {
      width: 15em;
    }
    .board {
      height: 49em;
      margin-bottom: 4em;
      grid-template-columns: 13em 10em;
      .options {
        .write-score {
          .callings-button {
            background-color: $background;
            border: 0.5px solid white;
            color: white;
            font-size: 1em;
            transition: 0.2s ease-in;
            margin: 0 0.3em;
            &:hover {
              border-color: $karoRed;
              color: $karoRed;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) {
  .counter {
    .flash-message {
      width: 18em;
    }
    .win-message {
      width: 18em;
    }
    .board {
      height: 49em;
      margin-bottom: 3em;
      grid-template-columns: 13em 10em;
    }
  }
}

@media (min-width: 425px) {
  .counter {
    .flash-message {
      width: 20em;
    }
    .win-message {
      width: 20em;
    }
    .board {
      height: 55em;
      grid-template-columns: 15em 11em;
    }
  }
}

@media (min-width: 768px) {
  .counter {
    padding: 0 4em;
    margin: 3em 4em;
    .flash-message {
      width: auto;
    }
    .win-message {
      width: auto;
    }
    .board {
      height: 54em;
      grid-template-columns: 21em 11em;
      .options {
        .write-score {
          .callings-button {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .counter {
    padding: 0 12em;
  }
}

@media (min-width: 1440px) {
  .counter {
    padding: 0 25em;
  }
}

@media (min-width: 1920px) {
  .counter {
    padding: 0 41em;
  }
}
